{% extends "base.html" %} 
{% load static wagtailcore_tags wagtailimages_tags wagtailembeds_tags %} 
{% block body_class %}template-homepage{% endblock %} 
{% block extra_css %} {% endblock extra_css %}
{% block content %}
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <div class="logo me-auto">       
        <a href="/"><img src="{% static 'brand/jlh_logo.png' %}" alt="JLH-Uganda logo" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>

          <li><a class="nav-link scrollto" href="/about">About Us</a></li>
          <li class="dropdown active"><a href="#"><span>What we do</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/cpta">Child Protection & Advocacy</a></li>
              <li><a href="/ectp">Community Therapy</a></li>
              <li><a href="/wetcp">Wet Consulting</a></li>
              <li><a href="/cep">Church Engagement</a></li>
              <li><a href="/alp">Agri-business Livelihoods</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/stories">Stories</a></li>
          <li><a class="nav-link scrollto" href="/contact">Engage With Us</a></li>
          <li><a class="nav-link scrollto" href="/gallery">Gallery</a></li>           
          <li><a class="donate scrollto" href="/donate">Donate</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

 <!-- ======= Hero Section ======= -->
 <section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
      <div class="carousel-inner" role="listbox">
        {% image self.feature_image original as slide_image %}
        <div class="carousel-item active" style="background-image: url('{{ slide_image.url }}');">
          <div class="carousel-container">
            <div class="carousel-content container">
              <h2 class="animate__animated animate__fadeInDown">Child Protection<br> Training & Advocacy </h2>
              <p class="animate__animated animate__fadeInUp"> doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section><!-- End Hero -->


</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row no-gutters">

        <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

          <div class="section-title">
            <h2 style="font-size: 24px;"> What the {{ self.title }} is about</h2>
          </div>

          <div class="" data-aos="fade-up" data-aos-delay="100">
            <p class="description">{{ self.side_description|richtext }}</p>
          </div>
        </div>
          <div class="col-lg-6 ">
            <div class="carousel slide" data-ride="carousel">
              
              <div class="carousel-inner carousel-slide" data-bs-ride="carousel" data-bs-interval="5000">
                {% for photo in self.carousel_items.all %}
                  <div id="heroCarousel" class="carousel-item {% if forloop.first %} active {% endif %}" data-aos="slide-up" >
                    {% image photo.image original as photo %}
                    <img class="d-block w-100" src="{{ photo.url }}" alt="{{photo.title}}">
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

   <!-- ======= Frequently Asked Questions Section ======= -->
   <section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Frequently Asked Questions</h2>
        <p>  About {{self.title}} </p>
      </div>

      <div class="row  d-flex align-items-stretch">
        {% for faq in self.faqs.all %}
          <div class="col-lg-6 faq-item" data-aos="fade-up">
            <h4>{{faq.question}}</h4>
            <p>{{ faq.answer }}</p>
          </div>
        {% endfor %}
      </div>

    </div>
  </section><!-- End Frequently Asked Questions Section -->



  {% endblock content %}

{% block extra_js %}{% endblock extra_js %}
