{% extends "base.html" %} 
{% load static wagtailcore_tags wagtailimages_tags wagtailembeds_tags %} 
{% block body_class %}template-homepage{% endblock %} 
{% block extra_css %} {% endblock extra_css %}
{% block content %}
<!-- Header -->
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <div class="logo me-auto">       
        <a href="/"><img src="{% static 'brand/jlh_logo.png' %}" alt="JLH-Uganda logo" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>

          <li><a class="nav-link scrollto" href="/about">About Us</a></li>
          <li class="dropdown"><a href="#"><span>What we do</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/cpta">Child Protection & Advocacy</a></li>
              <li><a href="/ectp">Community Therapy</a></li>
              <li><a href="/wetcp">Wet Consulting</a></li>
              <li><a href="/cep">Church Engagement</a></li>
              <li><a href="/alp">Agri-business Livelihoods</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/stories">Stories</a></li>
          <li><a class="nav-link scrollto" href="/contact">Engage With Us</a></li>
          <li><a class="nav-link scrollto active" href="/gallery">Gallery</a></li>           
          <li><a class="donate scrollto" href="/donate">Donate</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <main id="main">
    
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-wetcp">WETCP</li>
              <li data-filter=".filter-cpta">CPTA</li>
              <li data-filter=".filter-cep">CEP</li>
              <li data-filter=".filter-alp">ALP</li>
              <li data-filter=".filter-ectp">ECTP</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">
          {% for photo in self.gallery_images.all %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-{{photo.tag}}">
              {% image photo.image original as im %}
              <img src="{{ im.url }}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{ photo.tag }}</h4>
              </div>
            </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Portfolio Section -->


  </main>


  {% endblock content %}

{% block extra_js %}{% endblock extra_js %}
